/* comment content */
.Mi.Vp.WamaFb.Gw.Gm { max-height: inherit !important; }

/* post content */
.WamaFb.DIcL3e { max-height: inherit !important; } 
/* "read more" button in post */
.a-n.fE.syxni.JBNexc { display: none !important; }

/* notification window */
.O7.mP.CLSMk { max-height: inherit !important; }

/* comment textarea */
.yd.editable[role=textbox] { max-height: 500px !important; }